<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Task Tracker</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body>
        {% csrf_token %}
        <div class="container">
            <br />
            <h2><strong>Task Tracker 📝 Москаленко Л.В. </strong></h2> # Люба поменяла ФИО на свое

            <br />

            <ul class="list-group">
                <li class="list-group-item mb-2">З.1 Создать проект Djiango</li> # описан пункт 3.1
                <li class="list-group-item mb-2">З.2 Создать новое приложение tasks</li> # описан пункт 3.2
                <li class="list-group-item mb-2">З.3 Подключите приложение в файл конфигурации</li> # описан пункт 3.3
                <li class="list-group-item mb-2">З.4 Перезагрузите сервер запустив реплику</li> # описан пункт 3.4
                <li class="list-group-item mb-2">З.5 Вызовите функцию представления, добавьте ее в шаблоны</li> # описан пункт 3.5
                <li class="list-group-item mb-2">З.6 Добавьте логику представления</li> # описан пункт 3.6 # Что это такое?  Это вывод пункта списка в котором написано про пункт 3.6 # Верно, 5/5
                <li class="list-group-item mb-2">З.7 Создайте папку templates и файл index.html</li> # описан пункт 3.7
                <li class="list-group-item mb-2">З.8 В index.html напишите код приложения</li> # описан пункт 3.8
                <li class="list-group-item mb-2">З.9 Измените код так, чтобы название приложения включало вашу фамилию</li> # описан пункт 3.9
                <li class="list-group-item mb-2">З.10 Оформите разделы приложения как этапы КР</li> # описан пункт 3.10
                <li class="list-group-item mb-2">З.11 Создайте секретный ключ, выведите ключ в послдений раздел приложения</li> # описан пункт 3.11
                <li class="list-group-item mb-2">3.12 Найдите изменения в коде index.html в коде вашего соседа</li> # описан пункт 3.12
                <li class="list-group-item mb-2">З.13 Удалите в коде строки кода 2-12. Восстановите файл с кодом</li> # описан пункт 3.13, все измнения выполнены правильно, 5/5
                <li class="list-group-item mb-2">З.14 Создайте комментарий "Что это означает?" для одной строки кода</li>
                <li class="list-group-item mb-2">З.15 Создайте скрипт оболочки Фамилия.sh</li>
                <li class="list-group-item mb-2">З.16 Создайте в git публичный репозиторий с кодом реплики</li>
                <li class="list-group-item mb-2">З.17 Внесите изменения так, чтобы выводились дополнительно разделы</li>
                <li class="list-group-item mb-2">З.18 Создайте новую ветку vetka_фамилия</li>
                <li class="list-group-item mb-2">З.19 Подключите соседа к реплике. Реализуйте конфликт слияния</li>
                <li class="list-group-item mb-2">З.20 Проведите тестирование приложения</li>
                <li class="list-group-item mb-2">З.21 FIREBASE_API_KEY: {{ firebase_api_key }}</li>
            </ul>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>